#intro {
  background-image: url(../assets/Background_Intro.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 750px;


}

#projects {
  background-color: var(--base-gray200);
}
