#intro {
  background-image: url(../assets/Background_Intro.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 750px;
  align-items: center;
  text-align: center;

  .tag-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    margin-top: 32px;
  }

  .tag {
    background-color: var(--base-gray300);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 999px;
    width: fit-content;
    padding: 8px 16px;
    gap: 8px;
    font: var(--text-md);
  }
}

#projects {
  background-color: var(--base-gray200);
}
