* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-light: #f67841;
  --brand-mid: #f3541c;
  --brand-dark: #e43a12;

  --text-primary: #292524;
  --text-secundary: #57534e;
  --text-tertiary: #8f8881;
  --text-highlight: #e43a12;

  --surface-primary: #ffffff;
  --surface-secondary: #fee7d6;
  --surface-disabled: #E7E5E4;

  --stroke-default: #d6d3d1;
  --stroke-highlight: #f3541c;

  --semantic-error: #dc2626;

  --font-primary: "Poppins", sans-serif;
  --h1: 700 32px/120% var(--font-primary);
  --h2: 700 24px/120% var(--font-primary);
  --h3: 700 20px/120% var(--font-primary);
  --h4: 700 16px/120% var(--font-primary);
  --text: 400 1rem/1.5 var(--font-primary);
  --text-small: 400 0.875rem/1.4 var(--font-primary);
}

body {
  overflow: hidden;
  font: var(--text);
  color: var(--text-secundary);
}

h1,
h2 {
  color: var(--text-primary);
}

img {
  max-width: 100%;
  height: auto;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}
