#featured {
  img {
    height: 100%;
    object-fit: cover; /* esta propriedade é para a imagem preencher todo o espaço em que ela se encontra */
  }

  .card {
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    &::before {
      /*O &::before nada mais é que a abreviação de .card::before que é tão usual no css*/
      content: "";
      position: absolute;
      inset: 0;
      top: 50%;
      background: linear-gradient(180deg, transparent 0%, #020617 100%);
    }
  }
}
