#featured {
  img {
    height: 100%;
    object-fit: cover;
  }

  .card {
    border-radius: 4px;
    overflow: hidden; /* esconde o conteúdo que ultrapassa o container */
    position: relative;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      top: 50%;
      background: linear-gradient(180deg, transparent 0%, #020617 100%);
    }
    figcaption {
      position: absolute;
      bottom: 0;
      padding: 24px;
      &.has {
        .text-lg {
          padding: 12px; /*aqui ele vai percorrer todos os filhos do figcaption e aplicar naqueles que tem a classe . */
        }
      }
      h2 {
        margin-top: 8px; /*agora com as novas propriedades do css podemos usar a cascata como no HTML aqui no css, mas lembrando que isto só está funcionando nos navegaroes mais novos, por isso é preciso adaptar tb para os antigos */
      }
    }
  }
}
